@model IEnumerable<IbreastCare.ViewModel.MydataViewModel>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menopause)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Her)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Menopause)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Her)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
